/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
font-family:"Google Sans Flex", sans-serif;
}

/* CORES */

:root{
--main:#1c4fa3;
--dark:#061439;
--light:#ffffff;
}

/* BODY */

body{
background:linear-gradient(135deg,#061439,#0f3460,#1c4fa3);
background-size:400% 400%;
animation:bgmove 20s infinite;
color:white;
}

@keyframes bgmove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
width:100%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
z-index:1000;
}

.header section{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo img{
width:60px;
}

/* NAVBAR */

.navbar a{
margin:0 15px;
color:white;
font-size:25px;
position: relative;
}

.navbar a::after{
content:"";
width:0%;
height:2px;
background:#5ab4fd;
position:absolute;
left:0;
bottom:-5px;
transition:.4s;
}

.navbar a:hover::after{
width:100%;
}
/* HOME */

.home-container0{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.content h3{
font-size:60px;
margin-bottom:10px;
}

.content p{
font-size:20px;
margin-bottom:20px;
}

/* BOTÃO */

.btn{
background:linear-gradient(45deg,#5ab4fd,#3a7bd5);
padding:12px 30px;
border-radius:30px;
color:white;
font-size:16px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}

/* TITULOS */

.title{
text-align:center;
font-size:40px;
margin:80px 0 40px 0;
}

.title span{
color:#5ab4fd;
}

/* SLIDER */

.slider{
width:100%;
height:100vh;
overflow:hidden;
position:relative;
}

.slides{
width:400%;
height:100%;
display:flex;
}

.slides input{
display:none;
}

.slide{
width:25%;
position:relative;
transition:2s;
}

.slide img{
width:100%;
height:100vh;
object-fit:cover;
filter:brightness(70%);
}

/* BOTÕES */

.manual-navigation{
position:absolute;
bottom:40px;
width:100%;
display:flex;
justify-content:center;
}

.manual-btn{
border:2px solid white;
padding:6px;
border-radius:10px;
cursor:pointer;
margin:0 10px;
transition:.4s;
}

.manual-btn:hover{
background:white;
}

/* MOVIMENTO */

#radio1:checked ~ .first{
margin-left:0;
}

#radio2:checked ~ .first{
margin-left:-25%;
}

#radio3:checked ~ .first{
margin-left:-50%;
}

#radio4:checked ~ .first{
margin-left:-75%;
}
/* REVIEW */

.box-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.box{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:15px;
width:280px;
text-align:center;
backdrop-filter:blur(10px);
transition:.3s;
}

.box:hover{
transform:translateY(-10px);
}

.box p{
margin:20px 0;
}

.box h3{
color:#5ab4fd;
}

/* MAPA */

.address{
text-align:center;
margin-top:80px;
}

.address iframe{
margin-top:20px;
width:80%;
max-width:800px;
border-radius:10px;
}

/* FOOTER */
.header{
position: fixed;
top: -100px;
left: 0;
width: 100%;
transition: top 0.4s;
z-index: 1000;
}

.header.show{
top: 0;
}
footer{
    background:#1d1d1f;
    color:#a1a1a6;
    padding:60px 8%;
    font-family: "Google Sans Flex", sans-serif;
}

.footer-inner{
    max-width:1200px;
    margin:auto;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:60px;
}

.top h2{
    color:#fff;
    margin:0;
}

.top h3{
    margin:5px 0 0;
    font-weight:400;
}

.top button{
    background:#fff;
    color:var(--light);
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
}

.bottom{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.logo-content{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.socials{
    display:flex;
    gap:15px;
}

nav{
    display:flex;
    gap:60px;
}

nav ul{
    list-style:none;
    padding:0;
}

nav ul h4{
    color:#fff;
    margin-bottom:10px;
}

nav ul li{
    margin-bottom:8px;
}

nav a{
    text-decoration:none;
    color:var(--main);
    font-size:14px;
}

nav a:hover{
   color: #fff;
}

footer p{
    text-align:center;
    margin-top:40px;
    font-size:14px;
}