/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
font-family:"Google Sans Flex", sans-serif;
}

/* CORES */

:root{
--main:#1c4fa3;
--dark:#061439;
--light:#ffffff;
}

/* BODY */

body{
background:linear-gradient(135deg,#061439,#0f3460,#1c4fa3);
background-size:400% 400%;
animation:bgmove 20s infinite;
color:white;
}

@keyframes bgmove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

#typing::after {
  content: "|";
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
width:100%;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);
z-index:1000;
}

.header section{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo img{
width:60px;
}

/* NAVBAR */

.navbar a{
margin:0 15px;
color:white;
font-size:25px;
position: relative;
}

.navbar a::after{
content:"";
width:0%;
height:2px;
background:#5ab4fd;
position:absolute;
left:0;
bottom:-5px;
transition:.4s;
}

.navbar a:hover::after{
width:100%;
}
/* HOME */

.home-container0{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.content h3{
font-size:60px;
margin-bottom:10px;
}

.content p{
font-size:20px;
margin-bottom:20px;
}

/* BOTÃO */

.btn{
background:linear-gradient(45deg,#5ab4fd,#3a7bd5);
padding:12px 30px;
border-radius:30px;
color:white;
font-size:16px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}

/* TITULOS */

.title{
text-align:center;
font-size:40px;
margin:80px 0 40px 0;
}

.title span{
color:#5ab4fd;
}

/* SLIDER */

.slider{
width:100%;
height:100vh;
overflow:hidden;
position:relative;
}

.slides{
width:400%;
height:100%;
display:flex;
}

.slides input{
display:none;
}

.slide{
width:25%;
position:relative;
transition:2s;
}

.slide img{
width:100%;
height:100vh;
object-fit:cover;
filter:brightness(70%);
}

.slides{
  width:400%;
  height:100%;
  display:flex;
  animation: slide 16s infinite;
}

.slide{
  width:25%;
  flex-shrink:0;
}

.first{
  margin-left: 0;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -100%;
}

#radio3:checked ~ .first{
  margin-left: -200%;
}

#radio4:checked ~ .first{
  margin-left: -300%;
}


/* BOTÕES */

.manual-navigation{
position:absolute;
bottom:40px;
width:100%;
display:flex;
justify-content:center;
}

.manual-btn{
border:2px solid white;
padding:6px;
border-radius:10px;
cursor:pointer;
margin:0 10px;
transition:.4s;
}

.manual-btn:hover{
background:white;
}

/* MOVIMENTO */

#radio1:checked ~ .first{
margin-left:0;
}

#radio2:checked ~ .first{
margin-left:-25%;
}

#radio3:checked ~ .first{
margin-left:-50%;
}

#radio4:checked ~ .first{
margin-left:-75%;
}
/* REVIEW */

.box-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.box{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:15px;
width:280px;
text-align:center;
backdrop-filter:blur(10px);
transition:.3s;
}

.box:hover{
transform:translateY(-10px);
}

.box p{
margin:20px 0;
}

.box h3{
color:#5ab4fd;
}

/* MAPA */

.address{
text-align:center;
margin-top:80px;
}

.address iframe{
margin-top:20px;
width:80%;
max-width:800px;
border-radius:10px;
}

/* FOOTER */
.header{
position: fixed;
top: -100px;
left: 0;
width: 100%;
transition: top 0.4s;
z-index: 1000;
}

.header.show{
top: 0;
}
footer{
    background:#1d1d1f;
    color:#a1a1a6;
    padding:60px 8%;
    font-family: "Google Sans Flex", sans-serif;
}

.footer-inner{
    max-width:1200px;
    margin:auto;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:60px;
}

.top h2{
    color:#fff;
    margin:0;
}

.top h3{
    margin:5px 0 0;
    font-weight:400;
}

.top button{
    background:#fff;
    color:var(--light);
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
}

.bottom{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;
}

.logo-content{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.socials{
    display:flex;
    gap:15px;
}

nav{
    display:flex;
    gap:60px;
}

nav ul{
    list-style:none;
    padding:0;
}

nav ul h4{
    color:#fff;
    margin-bottom:10px;
}

nav ul li{
    margin-bottom:8px;
}

nav a{
    text-decoration:none;
    color:var(--main);
    font-size:14px;
}

nav a:hover{
   color: #fff;
}

footer p{
    text-align:center;
    margin-top:40px;
    font-size:14px;
}

.logoz{
    width:60px;
    height:60px;
}

/* DESTAQUES */

.destaques{
padding:80px 8%;
}

.cards{
display:grid;
grid-template-columns: repeat(2, 1fr);
gap:40px;
position:relative;
}

/* CARD */

.card{
background:#061439;
border-radius:25px;
padding:30px;
display:flex;
align-items:center;
gap:20px;
position:relative;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

/* IMAGEM */

.card img{
width:120px;
height:120px;
object-fit:cover;
border-radius:15px;
}

/* TEXTO */

.card-text h3{
color:#5ab4fd;
font-size:14px;
margin-bottom:5px;
}

.card-text p{
font-size:18px;
margin-bottom:10px;
}

.card-text a{
display:inline-block;
background:#ffc107;
color:#000;
padding:8px 18px;
border-radius:20px;
font-size:14px;
}

/* CARD GRANDE (embaixo) */

.card.big{
grid-column: span 2;
width:60%;
margin:0 auto;
}

/*login*/

/* LOGIN */

.login{
margin-top:100px;
padding-top:80px;
border-top:1px solid rgba(255,255,255,0.1);
}

.login-container{
display:flex;
justify-content:center;
align-items:center;
margin-top:40px;
}

.login-card{
width:320px;
padding:30px;
border-radius:20px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
box-shadow:0 8px 30px rgba(0,0,0,0.3);
display:flex;
flex-direction:column;
gap:15px;
text-align:center;
transition:.3s;
}

.login-card:hover{
transform:translateY(-10px);
}

.login-card h3{
font-size:24px;
}

.login-card p{
font-size:13px;
color:#ccc;
margin-bottom:10px;
}

.login-card input{
width:100%;
padding:12px;
border:none;
outline:none;
border-radius:10px;
background:rgba(255,255,255,0.15);
color:#fff;
font-size:14px;
}

.login-card input::placeholder{
color:#ddd;
}

.login-card button{
margin-top:10px;
padding:12px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#5ab4fd,#3a7bd5);
color:#fff;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.login-card button:hover{
transform:scale(1.05);
}

.login-card .extra{
font-size:13px;
color:#ccc;
margin-top:10px;
}

.login-card .extra a{
color:#5ab4fd;
}

/* imagi das coisa chegano */


.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out; /* Controla a suavidade */
}

/* Estado final: visível e na posição original */
.show {
  opacity: 1;
  transform: translateY(0);
}

/* Se quiser aquele efeito de delay do Canva, podemos usar isso: */
.item:nth-child(2) { transition-delay: 200ms; }
.item:nth-child(3) { transition-delay: 400ms; }
